  
   {% for tag in product.tags %}	
   			{% if tag contains 'LIVESTOCK' %} 


<center>
  <div style="width:100%;  text-align:center; padding:0px; ">
	<div style="width:100%; background-color:red; text-align:center; color:#fff; padding:10px">
  		LIVESTOCK<br/>These products may be restricted due to import regulations.<br/>
      If you wish to buy them and have the requisite <a style="color:#ffffff; font-weight:bold; text-decoration: underline" href="https://ireland.jnk-aquatics.co.uk/pages/licences">Import Licences</a>, <br/>
		please contact the Sales Office (+44 1278 664488)
  </div>
</div>
</center>

           {% endif %}
      {% endfor %} 