<style>
@media only screen and (max-width: 1000px) {
.cwhide{
	display:none;
	font-family:arial;
  	font-family: var(--body-font-family);
    
}}

@media only screen and (min-width: 1000px) {
.cwshow{
	display:none;
  	text-align:center;
  	font-family:arial;
  	font-family: var(--body-font-family);
}}
</style>
	
	<div class="cwhide" width=100% style="width:100%; background-color:#29245f; font-size:14px; color:#ffffff; font-family:var(--body-font-family); padding-left:10px; padding-top:5px; padding-bottom:5px;">		   
         <table   width="100%" border="1" cellpadding="0" style="border:solid 1px #29245f">
  <tr>
     
        <td  style=" padding-left:20px; border:solid 1px #29245f; vertical-align:central;  text-align:left; font:arial" align="center" valign="middle">
         <a style="color:#ffffff; text-decoration:none;" href="tel: 01278 664488">Need Help? Please Call 01278 664488</a>
    </td>  
    
         <td   style=" padding:0px; border:solid 1px #29245f text-align:left; font:arial" align="left" valign="middle">
       <div style="text-align: center; color:#ffffff;">The UK’s largest wholesaler of aquatic dry goods and fish since 1984</div>  
     </td>
   
        <td   style=" padding-right:20px; border:solid 1px #29245f; text-align:right; font:arial" align="right" valign="middle">
          <a style="color:#ffffff;  text-decoration:none;" href="https://j-and-k-aquatics.myshopify.com/account"><img style="border:solid 0.5px #ffffff" src="https://cdn.shopify.com/s/files/1/0524/9987/3959/files/uk.png?v=1643102350" width="40"  alt=""/> </a> &nbsp; 
          <a style="color:#ffffff;  text-decoration:none;" href="https://jnk-ireland.myshopify.com/account"><img style="border:solid 0.5px #ffffff" src="https://cdn.shopify.com/s/files/1/0524/9987/3959/files/ireland.png?v=1643102350" width="40"  alt=""/></a>
    </td>
    
  </tr>
</table>
</div>

	<div class="cwshow" width=100% style="font-family:var(--body-font-family); font-size:14px; width:100%; background-color:#29245f; color:#ffffff; font-family:arial; padding-left:-10px; margin-bottom:20px">		   
         <table   width="100%" border="0" cellpadding="0" style="border:solid 0px #29245f">
  <tr>
    <td  style=" padding:5px; border:solid 1px #29245f; vertical-align:central;  text-align:center; font:arial" align="center" valign="middle">
     <a style="color:#ffffff;  text-decoration:none;" href="tel: 01278 664488">Need Help? Please Call 01278 664488</a>
	  </td>  </tr> </table>

		<table>
			<tr>
        <td   style=" padding:5px; border:solid 1px #29245f; text-align:center; font:arial" align="center" valign="middle">
       <a style="color:#ffffff;  text-decoration:none;" href="https://j-and-k-aquatics.myshopify.com/account"><img style="border:solid 0.5px #ffffff" src="https://cdn.shopify.com/s/files/1/0524/9987/3959/files/uk.png?v=1643102350" width="40"  alt=""/> </a> &nbsp; 
          <a style="color:#ffffff;  text-decoration:none;" href="https://ireland.jnk-aquatics.co.uk/account"><img style="border:solid 0.5px #ffffff" src="https://cdn.shopify.com/s/files/1/0524/9987/3959/files/ireland.png?v=1643102350" width="40"  alt=""/></a>
			 </td>
  </tr>
</table>
</div>